@page
@model ItraRecipes.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="Manage/_StatusMessage" for="StatusMessage" />
<partial name="Manage/_StatusMessage" for="ErrorMessage" />
