@page
@model ItraRecipes.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password restore";
}

<h1>@ViewData["Title"]</h1>
<p>
    Check out your email address to restore password.
</p>

