@page
@model ItraRecipes.Pages.Account.LockoutModel
@{
    ViewData["Title"] = "Lockout";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Account locked out try again later./p>
</header>
