@page
@model ItraRecipes.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Пароль обновлен";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been successfully changed<a asp-page="./Login">click here to login</a>.
</p>
